@import url(variable.css);

*, *::before, *::after {
padding: 0;
margin: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: var(--background-body, #c7c7c7);
    color: var(--color-dody, #151515);
}

.site-header{
    background-color:var(--color-dody,#151515);
    color: var(--background-body, #c7c7c7);
    padding: 10px 0;
    margin: 0px;
    width: 100%;
    height: auto;
}

.site-footer {
    background-color:var(--color-dody, #151515);
    color: var(--background-body, #c7c7c7);
    padding: 10px 0;
    margin: 0px;
    width: 100%;
    height: auto;
}

.footer-text{
    text-align: right;
    color: var(--background-body,#c7c7c7);
}

.main-navigation ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-navigation a{
    color: var(--background-container);
    text-decoration: none;
}

.section{
    padding: 50px 0;
    /* animation: fadeIn 3s ease-in-out; */
}
.main-link {
    color: var(--color-dody, #151515);
}
.main-navigation li{
    padding: 0 30px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.profite-pic{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.project-grid{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-item{
    width: auto;
    height: auto;
    background-color: var(--background-body, #c7c7c7);
    border: 2px solid var(--color-dody, #151515);
    border-radius: 8px; 
    margin: 20px;
}

.project-item img{
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.project-item:hover{
    background-color: var(--background-body, #c7c7c7);
    box-shadow: 0 0 15px var(--color-dody, #151515);
    transition: box-shadow 0.3s;
}

.project-info{
    padding: 10px;
}

.language-item{
    width: auto;
    height: auto;
    background-color: var(--background-body, #c7c7c7);
    border: 2px solid var(--color-dody, #151515);
    border-radius: 8px; 
    margin: 10px;
    padding: 5px;
}

.education-item{
    width: auto;
    height: auto;
    background-color: var(--background-body, #c7c7c7);
    border: 2px solid var(--color-dody, #151515);
    border-radius: 8px; 
    margin: 10px;
    padding: 10px;
}

/* .about-item{
    width: 100%;
    height: 20px;
    background-color: #663333;
    border: 2px solid #faebd7;
    border-radius: 8px; 
    margin: 20px;
    padding: 10px;
} */
.contact-item{
    width: auto;
    height: auto;
    background-color: var(--background-body, #c7c7c7);
    border: 2px solid var(--color-dody, #151515);  
    border-radius: 8px; 
    margin: 20px;
    padding: 5px;
}

.contact-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

@media screen and (max-width: 678px){
    .main-navigation ul{
        flex-direction: column;
    }
    .main-navigation li{
        margin-bottom: 10px;
        font-size: large;
    }
    .profite-pic{
        float: none;
        display: block;
        margin: 0 auto;
    }
    .section{
        text-align: center;
    }
    .project-grid{
        align-items: center;
    }

    .site-header{
        position: relative;
    }
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}    
}

.underscore{
    text-decoration: underline;
}

[data-tema='dark'] {
    --background-body: var(--primary-color);
    --background-container: var(--primary-color);
    --color-dody: var(--secund-color);
}

[data-tema='light'] {
    --background-body: #e4e4e4;
    --background-container: #e9e9e9;
    --color-dody: #262626;
}